/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

.nav-link {
  text-align: center;
}

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

/* Jumbotron */
.jumbotron {
  background-image: url(gambar/bbbb.jpg);
  background-size: cover;
  height: 549px;
  text-align: center;
  position: relative;
}

.jumbotron .display-4 {
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px 1px (0, 0, 0, 0.9);
  font-size: 31px;
  margin-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 500;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

/* Info Panel */
.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -100px;
  background-color: white;
  padding: 30px;
}

.info-panel img {
  width: 80px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: -5px;
  font-weight: 200;
}

/* Workingspace*/
.workingspace {
  margin-top: 120px;
  text-align: center;
}

.workingspace h3 {
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 20px;
}

.workingspace h3 span {
  font-weight: 500;
}

.workingspace p {
  font-size: 18px;
  color: black;
  font-weight: 200;
  margin: 30px 0;
}

.testimonial {
  margin-top: 50px;
}

.testimonial h5 {
  font-size: 18px;
  color: black;
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}

.testimonial figure img {
  width: 60px;
  margin: 20px 15px 10px;
  opacity: 0.7;
}

.testimonial figure img.utama {
  width: 90px;
  opacity: 1;
  margin-top: 10;
}

.testimonial figure h6 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.testimonial figure p {
  font-size: 12px;
  margin-top: -5px !important;
}

.testimonial figcaption {
  text-align: center;
}

/* Dekstop Version */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .workingspace h3 p {
    text-align: left;
  }

  .testimonial {
    font-size: 32px;
  }
}
