body {
  font-family: "Quicksand", sans-serif;
}

.navbar-brand {
  background-color: #ecab8f;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #cfcfcf;
}

#project {
  background-color: #cfcfcf;
}

/* Utility */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
}

section {
  padding-top: 5rem;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #ffffff;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.card-link {
  text-align: left;
}

.footer img {
  width: 40px;
  padding: 3px;
}

.card-header,
.card-footer {
  background-color: #cfcfcf;
}
